---

---
<body>
<header class="header">
    <a class="home" href="/">Home</a>___<a class="about" href="/about">About</a>___<a class="blog" href="/blog">Blog</a>
</header>
<h1>About me.</h1>
<h2>Hello! My name is Yonathan!</h2>
<p>I'm frontend developer using React, NextJs and Astro</p>
<p>This is my little blog about everything and nothing</p>
</body>