---

---
<body>
<header class="header">
    <a class="home" href="/">Home</a>___<a class="about" href="/about">About</a>___<a class="blog" href="/blog">Blog</a>
</header>
<h1>Blog post name</h1>
<p>blog post text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis sit veniam vero! Ab ad aut
    commodi consectetur debitis dolorem dolorum enim eos esse est eveniet ex, facere fuga fugit iusto labore laboriosam
    laudantium necessitatibus nihil nisi obcaecati odit officiis praesentium quas quasi qui quia quidem sapiente sed
    similique tempora temporibus vel velit, vitae voluptas voluptates, voluptatum? Aut consequatur cupiditate eligendi
    eos, ex explicabo illum ipsa ipsam molestiae nemo non optio perspiciatis quasi rem repellat soluta suscipit
    voluptate. Assumenda, doloremque eius illum maxime minima modi odit repellendus? Asperiores cum dolorum est facere
    laboriosam, magni nulla placeat, possimus qui quibusdam tempora veniam!</p>

</body>