---
import Social from './Social.astro';
---
<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>


<footer>
    <p>Learn more about my projects on <Social platform="github" username="meyerzon"/>!</p>
    <p>Learn more about my experience on <Social platform="linkedin" username="yonathan-meyerzon" extraLinkPath="in"/>!
    </p>
    <p>Learn more about my life on <Social platform="instagram" username="kappaclaus3d"/>!
    </p>

</footer>